List all of the this users dogs in the table!


<table>
  <tr>
    <th> Dog Name </th>
    <th> Dog Breed </th>
    <th> Age </th>
  </tr>

  <tbody>
    <% @user.dogs.each do |dog| %>
        <tr>
        <td> <%= dog.name %> </td>
        <td> <%= dog.breed %>  </td>
        <td> <%= dog.age %>  </td>
      </tr>
    <% end %>
      </tbody>
</table>

<%= link_to 'Back', users_path %>
